
@mixin font($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color !important;
}


@mixin space-b{
    display: flex;
    justify-content: space-between;
}


@mixin centerer{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



//Responsive

@mixin respons($device){
    @if($device == tab-port){
        @media(max-width: 50em){      //800px
            @content
        }            
    }

    @if($device == tab-land){
        @media(max-width: 62em){      //992px
            @content
        }            
    }

    @if($device == phone){
        @media(max-width: 37.5em){      //600px
            @content
        }            
    }
   
 }