//COLORS

$color-yellow:#E0B921;
$color-brown-light:#D36B03;
$color-brown-dark:#824210;
$color-purple-dark:#69109C;
$color-purple-light:#7B6FED;
$color-blue-light:#2CAEF0;
$color-blue-dark:#222EC9;
$color-jade:#119188;
$color-green-dark:#0E7906;
$color-green-light:#6EB300;
$color-red:#9C0404;
$color-black:#000000;
$color-white:#FFFFFF;
$color-grey-light:#DCDCDC;
$color-grey-dark:#757575;


//Radius
$r-small: .3rem;