
// Bootstrap Navbar Styles
@import "~bootstrap/scss/reboot"; // Bootstrap Normalize (If you don't need normalization, delete it)
@import "~bootstrap/scss/grid"; // You can get rid of it, the layout will get worse on Mobile, but you can fix it
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/transitions"; 



.header{
    position: fixed !important;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    background-color: $color-green-light;
    @include respons(tab-land){
        background-color: rgba($color-green-light, .95);
    }  
    &__nav{
        padding:0;
        justify-content: space-between;
    }
    &__collapse{
      justify-content: space-between;
      flex-grow: 0;
      flex-basis: 103rem !important;
      & > * {   
        @include respons(tab-land){
            text-align: center;
            min-width: auto !important;
            max-width: 25rem !important;
            margin: 0 auto !important;
        }    
      }  
      .menu{
        @include respons(tab-land){
            margin-bottom: 2rem !important;
           } 
      }
    }
    &__logo-place{
        width: 3.7rem;
        height: 5.2rem;
    }
    &__logo{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}







 



