// Required (Must-have for any SCSS file(s) to work)
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Bootstrap Navbar Styles
@import "~bootstrap/scss/reboot"; // Bootstrap Normalize (If you don't need normalization, delete it)
@import "~bootstrap/scss/grid"; // You can get rid of it, the layout will get worse on Mobile, but you can fix it
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/transitions"; 



.header{
    position: relative;
    z-index: 100;
    background-color: $color-green-light;
    &__collapse{
      justify-content: space-between;
    }
    &__logo-place{
        width: 3.7rem;
        height: 5.2rem;
        margin-right:10rem;
    }
    &__logo{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__nav{
        padding:0;
    }
}






// .header{
//    background-color: $color-green-light;
// &__layout{
//     width: 100%;
//     height: 8.6rem;
//     @include space-b;
//     align-items: center;
// }
// &__left{

// }
// &__logo{  
//     width: 3.7rem;
//     height: 4.5rem;
//     img{
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//     }
// }
// &__right{
//     background-color: green;
// }

// }

 



