.search{
    display: flex;
    height: 5.2rem;
    width: 25.9rem;
    padding: 0 .5rem;
    &__input{
       font-family:inherit;
       font-size:1.8rem;
       width: 80%;
       border: 0;
       border-radius: $r-small 0 0 $r-small;
       padding: .3rem;
       padding-left: 1rem;
       &::placeholder{
          font-size: 1.2rem;
       }
       &:focus{
           outline-color: $color-blue-light;
       }
    }
    .btn{
      height: 100%;
      width:20%;
      border-radius: 0 $r-small $r-small 0;
    }
}